@use "../node_modules/bootstrap/scss/bootstrap";

$main-color: #5265E1;
$secondary-color: #FA5959;

.btn-primary {
    background-color: $main-color;
    border-color: $main-color;
    &:hover {
        background-color: darken($main-color, 10%);
        border-color: darken($main-color, 10%);
      }
}

.btn-danger {
    background-color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
        background-color: darken($secondary-color, 10%);
        border-color: darken($secondary-color, 10%);
    }
}

.hero-section {
    padding: 100px 0;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        max-width: 600px;
    }
    p {
        font-size: 1.2rem;
        color: #6c757d;
        max-width: 600px;
    }

    .left-column {
        padding-top: 5em;
        padding-left: 20em;
    }

}

.features-section {
    padding: 100px 0;
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    p {
        font-size: 1.2rem;
        color: #6c757d;
        max-width: 600px;
    }
    .nav-tabs {
        border: none;
        margin-bottom: 4em;
        .nav-link {
            color: #6c757d;
            &.active {
                color: $main-color;
            }
        }
    }
    
    img {
        padding-left: 25em;
    }
}