@use "../node_modules/bootstrap/scss/bootstrap";

$main-color: #5265E1;
$secondary-color: #FA5959;

.btn-primary {
    background-color: $main-color;
    border-color: $main-color;
    &:hover {
        background-color: darken($main-color, 10%);
        border-color: darken($main-color, 10%);
      }
}

.btn-danger {
    background-color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
        background-color: darken($secondary-color, 10%);
        border-color: darken($secondary-color, 10%);
    }
}

.hero-section {
    padding: 100px 0;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        max-width: 600px;
    }
    p {
        font-size: 1.2rem;
        color: #6c757d;
        max-width: 600px;
    }

    .left-column {
        padding-top: 5em;
        padding-left: 20em;
    }

}

.features-section {
    padding: 100px 0;
    max-width: 100%;
    
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        padding: 0.5em;
        
    }
    p {
        white-space: normal;
        font-size: 1.2rem;
        color: #6c757d;
        max-width: 100%;

    }
    .nav-tabs {
        border: none;
        margin-bottom: 4em;
        .nav-link {
            color: #6c757d;
            &.active {
                color: $main-color;
            }
        }
    }
    
    img {
        padding-left: 25em;
    }
}

.download-section {
    padding: 100px 0;

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        max-width: 600px;
        padding: 0.5em;
    }
    p {
        font-size: 1.2rem;
        color: #6c757d;
        // max-width: 600px;
        max-width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 40%;
            height: auto;
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }

    .container {
        padding-bottom: 4em;
    }

    .row {
        gap: 2em;
    }

    .firefox-card {
        padding-top: 1.5em;
    }

    .opera-card {
        padding-top: 3em;
    }
}

.faq-section {
    padding: 100px 0;

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        max-width: 800px;
        padding: 0.5em;
    }

    p {
        font-size: 1.2rem;
        color: #6c757d;
        // max-width: 600px;
        max-width: 100%;
    }   

    .col-5 {
        margin-left: auto;
        margin-right: auto;
    }

    .accordion {
        position: absolute;
        padding-top: 5em;
        padding-bottom: 10em;
    }

    .btn-faqs {
        padding-top: 2em;
    }
}



// responsive design for mobile //

@media (max-width: 768px) {
    
    .hero-section .left-column {
        order: 2; /* Text second */
      }
      .hero-section .hero-image {
        order: 1; /* Image first */
      }
    .hero-section {
        text-align: center;
        padding: 10px 0;
        
        h1{
            font-size: 2.2rem;
            padding-bottom: 2rem;
        }

        .left-column {
            padding-left: 0;
            padding-top: 2em;
        }

        img {
            width: 100%;
            height: auto;
            padding-top: 1rem;
        }
    }

    .features-section {
        text-align: center;
        padding: 30px ;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        
        p {
            margin-left: auto;
            margin-right: auto;
        }

        img {
            width: 90%;
            padding-left: 0;
            margin-bottom: 3em;
        }

        .nav-tabs {
            flex-direction: column;
            padding-top: 1em;
        }

        .btn {
            margin-top: 1em;
            margin-bottom: 3em;
        }
    }

    .download-section {
        text-align: center;

        .card {
            margin-bottom: 1em;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    .faq-section {
        text-align: center;
        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .btn-faqs {
            margin-top: 2em;
        }

        p {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
